<div
    {{ attributes }}
>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-4">
                {{ form_row(form.name, {
                    label: false,
                    attr: {
                        placeholder: 'Give your list a name'
                    }
                }) }}
            </div>
        </div>

        <table class="table table-borderless form-no-mb">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Priority</td>
                </tr>
            </thead>
            <tbody>
                {% for key, itemForm in form.todoItems %}
                    <tr>
                        <td>
                            {{ form_row(itemForm.description, {
                                label: false,
                                attr: {
                                    placeholder: 'Walk the pygmy hippo'
                                }
                            }) }}
                        </td>

                        <td>
                            {{ form_row(itemForm.priority, {
                                row_attr: {class: ''},
                                label: false,
                            }) }}
                        </td>
                        <td>
                            {{ form_row(itemForm.vars.button_delete_prototype, { label: 'X', attr: itemForm.vars.button_delete_prototype.vars.attr|merge({
                                'data-action': 'live#action',
                                'data-action-name': 'removeCollectionItem(name=' ~ form.vars.full_name ~ ', index=' ~ itemForm.vars.name ~ ')',
                                class: 'btn btn-outline-danger'
                            }) }) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ form_widget(form.todoItems.vars.button_add_prototype, { label: '+ Add Item', attr: form.todoItems.vars.button_add_prototype.vars.attr|merge({
            'data-action': 'live#action',
            'data-action-name': 'addCollectionItem(name=' ~ form.vars.full_name ~ ')',
            class: 'btn btn-outline-primary'
        }) }) }}

        <button type="submit" class="btn btn-success" formnovalidate>Save</button>
</div>
